<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Monitoring</title>
    <script src="angular.min.js"></script>
    <script src="angular.js"></script>
    <link href="css\main.css" rel="stylesheet" />
</head>
<body ng-app="myApp" style="Background-image: url('img/Desert.jpg')">
<div>
<div class="title" ng-controller="MainController">
    <header>
        <h1 class="titleHeader">
            {{ title }}
        </h1>
    </header>
    <nav>
         <div ng-repeat="user in AllUsers.UserDetails" ng-click="doThis(user.id)">
            <h3>{{user.name}}</h3>
         </div>
    </nav>
    <section>
        <div class="FullDetails">
            <table>
                <tr>
                    <td><h4>Unique Id:</h4></td>
                    <td><input type="text" ng-model="CurrentUser.id"  ng-disabled="Edit"> </td>
                </tr>
                <tr>
                    <td><h4>User Name:</h4></td>
                    <td><input type="text" ng-model="CurrentUser.name" ng-disabled="Edit"> </td>
                </tr>
                <tr>
                    <td><h4>Current Location:</h4></td>
                    <td><input type="text" ng-model="CurrentUser.place" ng-disabled="Edit"> </td>
                </tr>
                <tr>
                    <td><h4>From Date:</h4></td>
                    <td><input type="date" ng-model="CurrentUser.fromDate" ng-disabled="Edit"> </td>
                </tr>
                <tr>
                    <td><h4>To Date:</h4></td>
                    <td><input type="date" ng-model="CurrentUser.toDate" ng-disabled="Edit"> </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2" rowspan="3">
                        <input type="button" value="Edit" id="btnEdit" ng-click="editUserDetails(CurrentUser.id)">
                    </td>
                </tr>
            </table>
        </div>
    </section>
</div>
</div>

<!-- Modules -->
<script  src="js/app.js"></script>

<!-- Controller -->
<script src="js/Controllers/MainController.js"></script>

<!-- Services -->
<script src="Factories/UsersFactory.js"></script>

</body>
</html>